.footer {
   margin-top: var(--footerMargin);
   padding-top: 2%;
   padding-bottom: 2%;
   position: relative;
   display: flex;
  
   min-width: var(--footerWidth);
   max-width: var(--footerWidth);
   min-height: var(--footerHeight);
   max-height: var(--footerHeight);

   background-color: #D5E071;
   color: #21243D;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   
     
 }

 .footer .footer-text #copyright-text{
  color: #000000;

  
 }

 .footer .icon-rack { 
   margin-top: 1.5%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   column-gap: 2%;
   

 }

 
 