

.project-card {
    /* VARIABLES*/
    --borderColour:#ffffff00;
    --imageBottomBorderColour:var(--projectContainerBackgroundColour);
    --hoverColour: #424242c1;
    --boxShadowColour:#000000c1;
    

    border-image: linear-gradient(#8c880c, var(--themeMainColour)) 10;

    border-width: 2px;
    border-style:solid;

    display: flex;
    flex-direction: column;
    position: relative;


    cursor: pointer;
    min-width: var(--projectCardWidth);
    max-width: var(--projectCardWidth);
    min-height: var(--projectCardHeight);
    max-height: var(--projectCardHeight);

    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px 0 var(--boxShadowColour);
    transition:  box-shadow 0.1s ease-in-out;

}



.project-card:hover {

    box-shadow: 0 8px 16px 0 var(--hoverColour);

}


.project-card .preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 80%;

}

.project-card .preview-image img {
    min-height: 100%;
    width: 100%;
    object-fit: fill;
  
}

.project-card .project-data {
    display: inline-block;
    margin-top: -1.5%;
    min-width: 100%;
    max-width: 100%;
    max-height: 20%;

}



.project-data .project-name {
    margin-top: 5%;
    text-align: center;
    line-height: 1.2em; 
}



