.project-expansion {
    min-width: 100%;
    min-height: var(--expansionHeight);
    max-height: var(--expansionHeight);

    
}

.project-content{
    display: flex;
    position: relative;
    
    align-items: stretch;
    justify-content: center;
    

}


.image-preview-container{
    min-width: 50%;
    max-width: 50%;
    max-height: 100%;
    min-height: 100%;
}

.image-preview {
    margin-left: auto;
    margin-right: auto;

    min-width: 50%;
    max-width: 50%;
    max-height: 100%;
    min-height: 100%;
  
}

.image-preview img{
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;
}

.project-description{
    min-width: 50%;
    max-width: 50%;
    min-height: 40%;
    max-height:  40%;
    
}


.image-preview img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;

   
}



.project-description p{
    
   text-align: left;
   white-space: pre-line;
  
}

#visit-project-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0;
 
}

#close-button{
   color: var(--themeMainColour);
   background-color: var(--projectContainerBackgroundColour);
   float: right;
   border-radius: 25px;
   margin-right: 2%;
   border: 0;
}

@media only screen and  (min-width:200px)  and (max-width:500px) {
    #project-name{
        font-size: 28px;
    }

    .project-content p {
        font-size: 16px;
   }

   .project-description p{
    
    text-align: center;
   
    }

    .project-content{
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        min-width: 100%;
        max-height: 70%;
        min-height: 70%;
    }

   
    .image-preview-container{
        margin-left: 10%;
        display:block;
        min-height: 80%;
        min-width: 80%;
    }
    
    .image-preview{
        display:flex;
        
        min-height: 80%;
        min-width: 80%;
    }

    .image-preview img{
        display: block;
        width: 100%;
    
        object-fit: fill;
    }
   

    .project-description{
       
        margin-left: 10%;
        margin-right: auto;
        margin-top: 10%;
        max-width: 80%;
        min-width: 80%;
        max-height: 80%;
        min-height: 80%;
        margin-bottom: 20%;
    }

    #project-container{
        display: grid;
        grid-auto-rows: 1fr;
  
     }

     #visit-project-button {
      position: bottom;
     }
  
}