
#root {
   height: 90vh;
   width: 100%;
 
 }

#welcomeBanner {
   margin-top: 10%;
   display: block;
   text-align: center;

}

a:any-link{
   text-decoration: none;
}

.landing {
   height: 70vh;
   width: 80%;
   margin-top: 10%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   
 
}

.landing p {
  
   text-align: center;
}

.projects{
 
   width: 100%;
   height: 85vh;
}

.projects .project-title {
   margin-left: auto;
   margin-right: auto;
}

.landing-chevron{
  display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 10%;
   bottom: 0;
 
   

}


#project-container{
   background-color:var(--projectContainerBackgroundColour);
   display: flex;
   flex-wrap: wrap;
   position: relative;
   

   align-items: stretch;

   justify-content: center;
   row-gap: 50px;

   margin-left: auto;
   margin-right: auto;

   margin-bottom: auto;
   margin-top: 2%;

   padding-top: 2%;
   padding-bottom: 2%;

   border-radius: 25px;
   width: 80%;
   min-height:var(--projectContainerHeight) ;
  
  
   
}

#back-button {
   color: var(--themeMainColour);
   visibility:hidden ;
   background-color: var(--themeBackgroundColour);
   border: 0px;
   cursor: pointer;
   margin-left: 10%;
  
}
@media only screen and (max-width: 600px) {

   
   .landing {
      margin-top: 30%;
   }
   .landing-chevron{
      padding-bottom: 0;
   }
   
}

@media only screen and (min-height: 800px) {
   .landing {
      margin-top: 10%;
   }
   .landing-chevron{
      padding-bottom: 20%;
   }
}


@media only screen and (max-width: 1000px) and (min-height:1000px) {
   .landing {
      margin-top: 30%;
   }
}