html,
body {
    height: 100%;
}
:root {

  /* VARIABLES */
  --themeMainColour:#D5E071;
  --themeBackgroundColour:#121212;
  --projectContainerBackgroundColour:#212121;

  --cardHeight:90%;
  --cardWidth:20%;

  --projectCardHeight:90%;
  --projectCardWidth:20%;

  --expansionHeight:100%;

  --projectCardMobileHeight:90%;
  --projectCardMobileWidth:60%;

  --cardMobileHeight:90%;
  --cardMobileWidth:60%;

  --cardImageWidth:100%;
  --cardImageHeight:80%;

  --projectContainerHeight:60%;

  --footerHeight:20%;
  --footerWidth:100%;
  --footerMargin:4%;

  height: 100%;

  font-family: 'Heebo';
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--themeBackgroundColour);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}



html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}
 
h1 {

  line-height: 1.1;
  color: var(--themeMainColour);
  font-size: 50px;
  font-style: normal;
  font-family: 'Heebo';
  font-weight: 700;
  text-align: center;


}
h2 {
  font-size: 30px;
  text-align: center;
  color: #FFF;
}

.tag-line {
  font-family: 'Heebo';
  font-size: 19px;
}
#welcomeBanner {
  font-family: 'Heebo'
}
p{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
}

p, #back-button , #close-button {
  font-size: 15px;
}



/* Responsiveness - ordered mobile to desktop */



/* Normal Sized Mobile Portrait */
@media only screen and (min-width:200px) and (max-width: 500px) and  (min-height:400px) and (max-height: 900px) 
  { 

    :root {
    
      --footerMargin:90%;
      --projectContainerHeight:10%;
      --cardHeight:var(--cardMobileHeight);
      --cardWidth:var(--cardMobileWidth);
  
      --projectCardHeight: var(--projectCardMobileHeight);
      --projectCardWidth: var(--projectCardMobileWidth);
      
  
    }

}
/* Small Sized Mobile Portrait */
@media only screen and (min-width:0px) and (max-width: 200px) and (max-height:400px) {
  :root {
    
    --footerMargin:100%;
    --projectContainerHeight:10%;
    --cardHeight:var(--cardMobileHeight);
    --cardWidth:var(--cardMobileWidth);

    --projectCardHeight: var(--projectCardMobileHeight);
    --projectCardWidth: var(--projectCardMobileWidth);
    

  }
}


/* mobile Landscape */
@media only screen and (min-width:500px) and (max-width: 900px)  and (max-height: 500px) 
  { 
    
    :root {
    
      --footerMargin:30%; 
      --projectContainerHeight:20%;
      
  
    }
}

/* Tablet small */
@media only screen and (min-width:500px) and (max-width: 1700px) and (min-height:500px)  and (max-height: 600px) 
  { 
    
    :root {
    
      --footerMargin:5%; 
      --projectContainerHeight:20%; 
  
    }
}

/* Tablet normal */
@media only screen and (min-width:500px) and (max-width: 1700px) and (min-height:600px)  and (max-height: 900px) 
  { 
    
    :root {
    
      --footerMargin:2%; 
      --projectContainerHeight:10%; 
  
    }
}

/* Small Monitor */
@media only screen and  (min-width:500px) and (max-width: 1700px) and (min-height:900px)  and (max-height: 1700px) 
  { 
    
    :root {
    
      --footerMargin:0%; 
      --projectContainerHeight:25%; 
  
    }
}


/* full size desktop screens */
@media only screen and  (min-width:1700px) and (min-height:1000px)  {
  :root {
   
    --projectContainerHeight:45%;
    
  }
}



/*font sizes*/

/* normal pc*/
@media only screen and (min-width: 1000px) and (min-height:1000px) {
  h1 {
    font-size: 8vh;
  }
  h2 {
    font-size: 4vh;
  }
  .tag-line {
    font-size: 3vh;
  }
  #back-button , #close-button {
    font-size: 2vh;
  }
  p {
    font-size: 2.5vh;
  }
  
}




/* mobile portrait */
@media only screen and (max-width: 500px)  and (min-height:500px) and (max-height: 900px){
  
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 19px;
  }

  .tag-line {
    font-size: 15px;
  }

  p,#back-button , #close-button {
    font-size: 12px;
  }


  
}

/* mobile */
@media only screen and (max-width:700px){
  
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 19px;
  }

  .tag-line {
    font-size: 15px;
  }

  p,#back-button , #close-button {
    font-size: 12px;
  }


  
}
